

<div class="ion-page" id="main-content"  #page>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        List Verbs
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content> 
    <!-- input text -->  
    <ion-item>      
      <ion-input label="Search Verb"  [(ngModel)]="modelValue" label-placement="floating" fill="solid" placeholder="Type Verb"(ngModelChange)="onModelChange($event)"></ion-input>
    </ion-item> 
    <ion-list  *ngIf=" verbs.length > 1 ">
       <ion-item>
         <ion-grid [fixed]="true" >
           <ion-row class="font-bold">
             <ion-col size="1" > # </ion-col>                      
             <ion-col size="5"> Simple Form </ion-col>          
             <ion-col size="5">  Meaning </ion-col>              
           </ion-row>
         </ion-grid>
       </ion-item>
    </ion-list>

    <!-- grid of verbs -->
    <ion-list>
      <ion-item-sliding *ngFor="let verb of verbs; let i = index" class="list-verbs">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="1" class="ion-text-left"> {{ i + 1 }} </ion-col>
              <ion-col size="5"> {{ verb.simpler_fom }}</ion-col>
              <ion-col size="5">{{ verb.meaning }}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="setOpen(true,verb)">
          
            <ion-icon slot="icon-only" name="eye"></ion-icon>
          </ion-item-option>
          
        </ion-item-options>
      </ion-item-sliding>
    </ion-list> 

    <ion-list *ngIf=" verbs.length <= 0  ">
      <ion-item>
        <h2> Sin resultdos </h2>
      </ion-item>
   </ion-list>
    

    <ion-footer *ngIf=" totalPages > 1" >
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="loadPreviousPage()" [disabled]="currentPage === 1">
            Previous
          </ion-button>
        </ion-buttons>
        <ion-title>
          Page {{ currentPage }} of {{ totalPages }}
        </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="loadNextPage()" [disabled]="currentPage === totalPages">
            Next
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
      
    

    <!-- Modal -->
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title> Verb:  {{ verb.simpler_fom  }}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">       
          
          <ion-card-content>           
            <ion-list>
              <ion-item>
                 Simple Form: {{ verb.simpler_fom  }}
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                 Type: {{ verb.type_verb  }}
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                THIRD PERSON: {{ verb.third_person  }}
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                SIMPLE PAST: {{ verb.simple_past  }}
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                PAST PARTICIPLE: {{ verb.past_participle  }}
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                GERUND: {{ verb.gerund  }}
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-item>
                MEANING: {{ verb.meaning  }}
              </ion-item>
            </ion-list>
          </ion-card-content>          
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</div> 